.server {
  background-color: #191c23;
  padding-top: 100px;
  padding-bottom: 100px;

  .inner_server {
    min-height: 300px;

    // .title {
    //   margin-bottom: 40px;
    //   h3 {
    //     color: #ffffff;
    //     text-align: center;
    //   }
    // }

    .section-title {
      text-align: center;
      padding-bottom: 30px;
    }
    .section-title h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
      padding-bottom: 10px;
      position: relative;
      color: #ffffff;
    }

    .section-title p {
      margin-bottom: 0;
      color: #ffffff;

      span{
        color: #fff000;
        font-weight: bold;
      }
    }
    .section-title h2::before {
      content: "";
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #191c23;
      bottom: 1px;
      left: calc(50% - 60px);
    }
    .section-title h2::after {
      content: "";
      position: absolute;
      display: block;
      width: 100px;
      height: 3px;
      background: #6d0f12;
      bottom: 0;
      left: calc(50% - 50px);
    }
  }
}
